# Twende

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras import layers
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
import matplotlib.cm as cm
from tensorflow.keras.layers.experimental import preprocessing
from tensorflow import keras

In [16]:
data_frame= pd.read_csv('data_frame/data.csv')
data_frame.tail()

,Event name,Venue Location,Number of Attendees,Equipments Cost,Food and Beverage Cost,Accommodations Cost,Marketing and Advertising Cost,Duration(days),Transportation Cost,Guest of honor Cost,Staff and Volunteer Expenses,Insurance Cost,Miscellaneous Expenses,Estimated Cost ($)
195,The Karibu travel and tourism fair,Geita,75,5000,8500,15000,9000,7,5500,11500,750,3500,3750,NaN
196,Kumasi Hive collaboration,Rukwa,70,12000,5500,18500,12000,13,4750,11500,6500,11500,6000,NaN
197,Kumasi Hive collaboration,Katavi,100,6000,5000,4500,12000,14,6250,6500,2250,9000,5500,NaN
198,The Swahili cultural festival,Rukwa,67,3500,8000,8500,29000,11,6500,3500,1000,11000,6250,NaN
199,The Kilimanjaro Marathon,Dar es salaam,100,5500,4500,18000,24000,7,500,3000,2000,6000,1250,NaN